<mat-card>
  <product-summary-header color="accent" title="{{product.price}} - {{product.name}}" [product]="product"></product-summary-header>
  <div id="desc">
    {{ product.description }}
  </div>
</mat-card>
