<mat-card>
  <input type="hidden" [value]="currentProduct._id" #productId/>

  <mat-form-field>
    <input placeholder="Product Name ( 3 - 100 characters )" [disabled]=readonly matInput type="text" [value]="currentProduct.name" #productName maxlength="100"/>
  </mat-form-field>

  <mat-form-field>
    <textarea placeholder="Product Description ( 5 - 1000 characters )" [disabled]=readonly matInput rows="6" [value]="currentProduct.description" #productDescription maxlength="1000"></textarea>
  </mat-form-field>

  <mat-form-field>
    <input placeholder="Product Price ( $1.00 - $20000.00 )" [disabled]=readonly matInput type="text" [value]="currentProduct.price" #productPrice/>
  </mat-form-field>

  <button id="saveButton" *ngIf="!this.editing && !this.readonly" mat-raised-button color="accent" (click)="saveProduct(productName, productDescription, productPrice)">Add Product</button>
  <button id="updateButton" *ngIf="this.editing" mat-raised-button color="accent" (click)="updateProduct(productId, productName, productDescription, productPrice)">Update Product</button>
  <button id="closeButton" *ngIf="this.readonly || this.editing" mat-raised-button color="accent" (click)="closeReadonly()">Close</button>

</mat-card>
<ul *ngFor="let errorMessage of errorMessages">
  <li ngClass="error_message">{{ errorMessage }}</li>
</ul>
