<mat-toolbar color="{{color}}">
  <div class="product-title" (click)="viewProduct()">{{title}}</div>
  <span class="example-spacer"></span>
  <button (click)="editProduct()" mat-icon-button class="example-icon">
    <mat-icon>edit</mat-icon>
  </button>
  <button (click)="deleteProduct()" mat-icon-button color="warn" class="example-icon favorite-icon">
    <mat-icon>delete</mat-icon>
  </button>
</mat-toolbar>
